.shoppingCart {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product {
  display: flex;
  height: 140px;
  width: 100%;
  padding: 20px;
  gap: 20px;
  background: var(--color-white);
  border-radius: 16px;

  .photo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 64px;

    img {
      height: 100%;
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    width: 100%;

    .productName {

    }

    .productPrice {

    }

    .productControl {
      display: flex;
      justify-content: space-between;
      margin-top: auto;
    }

    .productRemoveButton {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background: var(--color-red);
      border: none;
      color: var(--color-white);

      .mat-icon {
        transform: scale(0.8);
      }
    }
  }
}

.shoppingCartNavigator {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 68px;
  background: var(--color-white);
  z-index: 4000;
  padding: 0 20px;

  a {
    text-decoration: none;
  }
}
