<div class="productsGrid">
  <div class="product" *ngFor="let product of products">
    <a [routerLink]="['/product/', product.slug]">
      <div class="productImage">
        <img [src]="product.photo" [alt]="product.name">
      </div>
      <div class="productName">{{product.name}}</div>
    </a>
      <div class="productAuthor">{{product.author}}</div>
    <app-button icon="add_shopping_cart"
                (click)="addProductToCart(product)"
                color="green">
      {{product.price|currency:'EUR'}}
    </app-button>
  </div>
</div>
