.navigationDrawerOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .2);
  backdrop-filter: blur(10px);
  z-index: 8000;
  //opacity: 1;
  transition: background 900ms ease-in-out;

  &.hidden {
    display: none;
    background: rgba(0, 0, 0, 0);
    //opacity: 0;
  }
}

.navigationDrawer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 320px;
  height: 100%;
  background: var(--color-light-gray);
  padding: 20px;
  z-index: 8100;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    width: 100%;

    .headerTitle {
      font-size: 1.25em;
    }

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      background: transparent;
      border: none;
    }
  }
}
