.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 56px auto 0;
  width: 100%;
}

@media (min-width: 992px) {
  .content {
    margin-top: 132px;
    background: var(--color-white);
    border-radius: 16px;
  }
}

:host {
  display: flex;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  position: relative;
}
