<div class="paymentMethodContainer">
  <label class="paymentMethodOption"
         *ngFor="let option of options"
         [class.active]="option.name === value"
         [@expandAnimation]="option.name === value"
  >
    <input type="radio" name="paymentMethod" [value]="option.name" [(ngModel)]="value">
    <div class="paymentMethodHeader">
      <div class="paymentMethodName">{{option.label}}</div>
      <div class="paymentMethodLogo">
        <img *ngFor="let icon of option.icons" [src]="icon" alt="visa">
      </div>
    </div>
    <div class="paymentMethodContent" *ngIf="option.type === 'credit-card-form'">
      <form-text-input label="Card Number"></form-text-input>
      <div class="paymentMethodContentRow">
        <div class="paymentMethodContentColumn">
          <form-text-input label="Expiration Date"></form-text-input>
        </div>
        <div class="paymentMethodContentColumn">
          <form-text-input label="CVC"></form-text-input>
        </div>
      </div>
    </div>
  </label>
</div>
